
@{
    ViewBag.Title = "Student Menu";
}

<div class="jumbotron">
    <h1>Student Menu</h1>
    <p class="lead">Choose one of the options below</p>
    <p class="lead">@ViewBag.Name</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("View Schedule", "ViewSchedule", "Student")</li>
            <li>@Html.ActionLink("Submit Add Request", "SubmitAddRequest", "Student")</li>
            <li>@Html.ActionLink("Submit Drop Request", "SubmitDropRequest", "Student")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("Edit My Info", "EditInfo", "User")</li>
            <li>@Html.ActionLink("View Classes", "ViewClasses", "User")</li>
        </ul>
    </div>
    </div>
