
@{
    ViewBag.Title = "Log In";
}

<h2>Log In</h2>
@ViewBag.errorMessage

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-md-10">
            @Html.Label("username", "Email"):
                <br />
                @Html.TextBox("username", null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("username", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
            @Html.Label("password", "Password"):
                <br />
                @Html.Password("password", null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("password", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <button type="submit">Submit</button>
    </div>
}

