@{
    ViewBag.Title = "Admin Menu";
}

<div class="jumbotron">
    <h1>Admin Menu</h1>
    <p class="lead">Choose one of the options below</p>
    <p class="lead">@ViewBag.Name</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("View Enrollment Info", "ViewEnrollmentInfo", "Admin")</li>
            <li>@Html.ActionLink("Add User", "AddUser", "Admin")</li>
            <li>@Html.ActionLink("Edit User", "ChooseUserToEdit", "Admin")</li>
            <li>@Html.ActionLink("Create Semester", "CreateSemester", "Admin")</li>
            <li>@Html.ActionLink("Activate/Deactivate Semester", "ChooseSemester", "Admin")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Assign Professor to Class</li>
            <li>@Html.ActionLink("View All Students", "ViewStudents", "Admin")</li>
            <li>Set Room for Class</li>
            <li>@Html.ActionLink("View Students for Advisor", "ChooseAdvisor", "Admin")</li>
            <li>Add User to Class</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("View Students in Major", "ChooseMajor", "Admin")</li>
            <li>@Html.ActionLink("Assign Students to Advisor", "ViewStudents", "Admin")</li>
            <li>Remove Class</li>
            <li>Add Class</li>
            <li>Add Room</li>
            <li>Add Building</li>
        </ul>
    </div>
</div>