@{
    ViewBag.Title = "Admin Menu";
}

<div class="jumbotron">
    <h1>Admin Menu</h1>
    <p class="lead">Choose one of the options below</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("View Enrollment Info", "ViewEnrollmentInfo", "Admin")</li>
            <li>@Html.ActionLink("Add User", "AddUser", "Admin")</li>
            <li>@Html.ActionLink("Edit User", "ChooseUserToEdit", "Admin")</li>
            <li>@Html.ActionLink("Create Semester", "CreateSemester", "Admin")</li>
            <li>@Html.ActionLink("Activate/Deactivate Semester", "ChooseSemester", "Admin")</li>
            <li>@Html.ActionLink("View Classes", "ViewClasses", "User")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("Assign Professor to Class", "ChooseClass", "Admin")</li>
            <li>@Html.ActionLink("View All Students", "ViewStudents", "Admin")</li>
            <li>@Html.ActionLink("Set Room for Class", "ChooseClass", "Admin")</li>
            <li>@Html.ActionLink("View Students for Advisor", "ChooseAdvisor", "Admin")</li>
            <li>@Html.ActionLink("Add User to Class", "ChooseClass", "Admin")</li>
            <li>@Html.ActionLink("View a Schedule", "ViewSchedule", "Admin")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>@Html.ActionLink("View Students in Major", "ChooseMajor", "Admin")</li>
            <li>@Html.ActionLink("Assign Students to Advisor", "ViewStudents", "Admin")</li>
            <li>@Html.ActionLink("Remove Class", "ChooseClassToRemove", "Admin")</li>
            <li>@Html.ActionLink("Add Class", "AddClass", "Admin")</li>
            <li>@Html.ActionLink("Add Room", "ChooseBuilding", "Admin")</li>
            <li>@Html.ActionLink("Add Building", "AddBuilding", "Admin")</li>
            <li>@Html.ActionLink("Edit My Info", "EditInfo", "User")</li>
        </ul>
    </div>
</div>